main img {
    width: 250px;
    display:block;
    margin: auto;
}

#sales-data{
    display: block;
    flex-wrap: wrap;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  th {
      
    background: #cc5c58;
    color: #f460b1;
  }
